/* ion-list directive from http://codepen.io/ionic/pen/uJkCz */

.list {
    .item{
        &.item-accordion{
            padding-left: 73px;
            line-height: 54px;
            padding-top: 0;
            padding-bottom: 0;
            transition: 0.09s all linear;
            
            &.ng-hide{
                line-height: 0px;
            }
            &.ng-hide-add, &.ng-hide-remove{
                display: block !important;
            }
        }
        
        &.item-avatar h2{
            margin-top: 10px;
        }
    }
}