<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>
        <ion-list>
            <div ng-repeat="category in categories">
                <ion-item class="item-remove-animate item-avatar item-icon-right active"
                    ng-show="isCategoryShown(category)">

                    <img ng-src="{{category.img}}">
                    <h2>{{category.name}}</h2>
                </ion-item>
                <ion-checkbox class="item-accordion"
                    ng-repeat="product in category.products"
                    ng-show="isProductShown(category, product)"
                    ng-model="product.isInCart"
                    ng-change="cartProductsUpdate(product)">
                        {{product.name}}
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
