<ion-popover-view class="fit">
    <ion-content scroll="false">
        <ion-list>
            <!-- <ion-item class="item-icon-left"
                ng-click="closePopover()">
                <i class="icon ion-ios-plus-outline"></i>Nueva categoría
            </ion-item>
            <ion-item class="item-icon-left"
                ng-click="closePopover()">
                <i class="icon ion-ios-download-outline"></i>Exportar
            </ion-item>
            <ion-item class="item-icon-left"
                ng-click="closePopover()">
                <i class="icon ion-ios-upload-outline"></i>Importar
            </ion-item> -->
            <ion-item class="item-icon-left"
                ng-click="closePopover(); openModal()">
                <i class="icon ion-ios-gear-outline"></i>Ajustes
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
