<ion-tabs class="tabs-icon-top tabs-dark" ng-controller="TabsCtrl">

    <ion-tab title="Productos" icon="ion-clipboard" href="#/tab/items">
        <ion-nav-view name="tab-items"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Compra" icon="ion-bag" href="#/tab/cart"
        badge="productsInCart" badge-style="badge-assertive">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>

    <!-- <ion-tab title="Recetas" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/recipes">
        <ion-nav-view name="tab-recipes"></ion-nav-view>
    </ion-tab> -->

</ion-tabs>
