<ion-view on-swipe-left="onSwipeLeft()">
    <ion-content>
        <ion-list>
            <div ng-repeat="category in categories">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                    ng-click="toggleCategory(category)"
                    ng-class="{active: isCategoryShown(category)}"
                    on-hold="onHold(category)">

                    <img ng-src="{{category.img}}">
                    <h2>{{category.name}}</h2>
                </ion-item>
                <ion-checkbox class="item-accordion item-checkbox-right"
                    ng-repeat="product in category.products"
                    ng-show="isCategoryShown(category)"
                    ng-model="product.isInCart"
                    ng-change="cartProductsUpdate(product)"
                    on-hold="onHold(category, product)">
                        {{product.name}}
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
