<ion-modal-view ng-controller="SettingsCtrl">
    <ion-header-bar>
      <h1 class="title">Ajustes</h1>
      <div class="buttons">
          <a class="button button-icon icon ion-close-round" ng-click="closeModal()"></a>
      </div>
    </ion-header-bar>
    <ion-content style="background: url('img/icon.png') no-repeat bottom; background-size: 80% auto">
        <ion-list>
            <ion-item class="item-divider item-icon-left">
                <i class="icon ion-ios-information-outline"></i>Easy Chef Shopping
                <span class="item-note">
                    {{version}}
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="sendFeedback()">
                <i class="icon ion-ios-email"></i>Contactar
                <span class="item-note">
                    manufvdev@gmail.com
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="shareViaTwitter()">
                <i class="icon ion-social-twitter"></i>Compartir en Twitter
            </ion-item>
            <ion-item class="item-icon-left" ng-click="shareViaFacebook()">
                <i class="icon ion-social-facebook"></i>Compartir en Facebook
            </ion-item>
            <ion-item class="item-icon-left" ng-click="shareViaWhatsApp()">
                <i class="icon ion-social-whatsapp"></i>Compartir en Whatsapp
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
